table {
	margin: 0 auto 20px auto;
	border-collapse: collapse;
	background-color: white;
}

td {
	width: 15px;
	height: 15px;
	border: 1px solid darkGray;
}

.alive {
	background-color: black;
}

.App {
	text-align: center;
	margin: auto;
}
